<%= link_to 'Delete', company_path(company), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-right" %>
<a href="<%= company_path(company) %>" class="list-group-item list-group-item-action">
  <%= company.name %>
</a>
<hr>